body{
    font-size: 16px;
}

h1{
	font-family: 'MgOpen Cosmetica', sans-serif;
}

h2{
	font-family: 'MgOpen Cosmetica', sans-serif;
	color: #5C4E54;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.date{
	color: #78686F;
	font-style: italic;
}

.post p {
    font-family: 'MgOpen Canonica', serif;
}

.hyphenate{
    text-align: justify;
}

.container-fluid {
    max-width: 650px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}