body{
    font-size: 16px;
    color: #333;
    background-color: #FCFDFC;
    -moz-font-feature-settings:"liga", "dlig";
    -ms-font-feature-settings:"liga", "dlig"; 
    -o-font-feature-settings:"liga", "dlig"; 
    -webkit-font-feature-settings:"liga", "dlig"; 
    font-feature-settings:"liga", "dlig";
    font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'MgOpen Cosmetica', sans-serif;
}

h2{
	color: #5C4E54;
}

.date{
	color: #78686F;
	font-style: italic;
    text-align: right;
}

.post p, .post li, .post td, .post div {
    font-family: 'georgia', 'times', 'times new roman', serif;
}

.hyphenate{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.main-body {
    max-width: 32em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-center{
    display: table-cell;
    vertical-align: middle;
}

footer {
    margin-top: 1em;
}

#markdown-toc {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 1em;

    border: 2px #bbb dashed;
    display: inline-block;
    background-color: #eef0ee;
}