h1{
	font-family: 'Oswald', sans-serif;
}

h2{
	font-family: 'Oswald', sans-serif;
	color: #5C4E54;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.date{
	color: #78686F;
	font-style: italic;
}

